body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  
  header {
    background-color:black;
    background-image: url("images/header/header3.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
  }
  
  header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
  }

  header .mobile {
    display: none;
  }
  
  header .logo a {
    background-image: url("images/4.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top: -30px;
    width: 300px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  /* RESPONSIVE RULES */

@media screen and (max-width: 767px) {
    header {
      height: 250px;
      background-position: 0 -30px;
    }
    header .mobile {
      display: inline-block;
    }
    header .desktop {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    header {
      height: 200px;
      background-position: 0 -0px;
    }
  }
  /* FEATURES */
  
  .features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .features figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
  }
  
  .features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    width: 200px;
  }
  
  /* FOOTER */
  
  footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
  }
