header {
    background-color:black;
    background-image: url("images/header/header3.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
  }

   header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
  }

table{
  background-color: #fcf8f3;
  border-color: #639a67;
  column-rule-color: #639a67;
}

.submit{
  background-color: green;
}