body 
{
    background: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color:black;
    background-image: url("images/header/header3.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
  }

   header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
  }

/*header
{
    background: black;
    background-image: url(images/pet-clinic-head.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: left;
}*/

section
{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features figure
{
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.vets figure
{
    border: 2px solid gray;
    border-radius: 5%;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    padding: 20px;
}

.features figure img
{
    border: 2px solid gray;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.vets figure img
{
    padding: 5px;
    width: 200px;
    height: 150px;
}

div
{
    background: rgb(235, 17, 35);
    margin: auto;
    width: 100px;
    text-align: center;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li
{
    display: inline-block;
    margin-right: 20px;
}

footer
{
    background: black;
    background-image: url(images/group.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150;
    width: 300;
    padding: 20px;
    color: gray;
    text-align: center;
}