body 
{
    background: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header
{
    background: black;
    background-image: url(images/pet-clinic-head.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: left;
}

section
{
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure
{
    border: 2px solid gray;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 200px;
    text-transform: uppercase;
}

.vets figure
{
    border: 2px solid gray;
    margin: auto;
    text-align: center;
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    padding: 5px;
}

.fetures figure img
{
    width: 200px;
    height: 200px;
}

.vets figure img
{
    width: 200px;
    height: 150px;
}

div
{
    background: rgb(235, 17, 35);
    margin: auto;
    width: 100px;
    text-align: center;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li
{
    display: inline-block;
    margin-right: 20px;
}

footer
{
    background: black;
    background-image: url(images/group.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150;
    width: 300;
    padding: 20px;
    color: gray;
    text-align: center;
}